.Footer{
    body{
        margin: 0; 
                display: flex;
                min-height: 100vh; 
                flex-direction:column-reverse;
     }
     .content{
        flex: 1;
     }
     footer{
        background-color: #f0f0f0;
                padding: 10px;
                width: 200px; 
                position: left; 
                bottom: 0; 
                left: 0; 
     }
        hr{
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
       
        .contact{
            text-align:start;
            color: black;
            border: #007BFF;
            
        }
    
       .links a{
        text-decoration: none;
     color: black;
      display: block;
       margin-bottom: 10px;
       }
        .privacy-link{
            color: #007BFF; 
      text-decoration: none; 
      font-weight: bold;
        }
        .terms-link{
            color: #007bff62; 
      text-decoration: none; 
      font-weight: bold;
        }
}