.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgb(198, 238, 236);
}

.left-section {
  text-align: left;
  flex-direction: column;
  margin-left: 50px;
  margin-top: -20px;
}

.contact-text {
  font-size: 14px;
  margin-top: -10px; 
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.phone-info,
.email-info {
  display: flex;
  align-items: center;
  margin-top: -20px; 
}
.phone{
  font-size: 14px;
  text-decoration: underline;
}
.email{
  font-size: 14px;
  text-decoration: underline;
}

.middle-section {
  text-align: center;
  flex: 1;
}
.middle-section a {
  text-decoration: underline;
  color: #000000; 
}

.right-section {
  text-align: right;
  margin-right: 50px;
}
