.main-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width:80vh;
    text-align: center;
}
.imagini-icons{
  display: block;
  margin-bottom: 0;
    width:50vh;

}
.login{
  display: block;
  
}
.icon-userP {
display: block;
}
.icon-cuibP {
  display: block;
  
}
.UserIcon{
 
  width: 60px;
  
}
.CuibPasari{
  
  width: 48px;
  float: right;
  
  
}



.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 35vh;
    width:50vh;
    text-align: center;
    border: none;
    border-radius: 5vh;
    margin-top: 0;
    background:linear-gradient(to bottom, rgb(248, 154, 13),#ffffff )
  }
  body {
    background: linear-gradient(to bottom, #add8e6, #fff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Asigură-te că fundalul se întinde pe întreaga înălțime a paginii */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrează orizontal */
    align-items: center; /* Centrează vertical */
    margin-top: 10px; /* Adaugă o distanță de 20px deasupra butonului (personalizabil) */
  }
  button {
    background: #ffA500; /* Portocaliu pentru fundal */
    border: none; /* Elimină orice contur al butonului */
    border-radius: 10px; /* Rotunjește marginile butonului */
    color: #fff; /* Culorea textului la alb */
    padding: 10px 20px; /* Spațiere pentru buton */
    cursor: pointer; /* Cursor de tip mână la survol */
    margin-top: 2px;
    margin-bottom: 5px;

  }
  
  button:hover {
    background: #ff8c00; /* Culoare portocalie mai închisă la survol */
  }
  
   /* Stilizarea etichetelor */
   .input-label {
    font-size: 18px;
    border-radius: 10px;
    background: #ffA500; /* Fundal portocaliu pentru etichete */
    padding: 5px 10px;
    color: #fff; /* Culoare text albă */
    width: 180px; /* Lățimea etichetelor */
    height: 30px; /* Înălțimea etichetelor */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Stilizarea câmpurilor de intrare */
 /* container1 contine input-icon1 si input1*/
  .input-container1 {  
    display: flex;
    align-items: center;
   margin-top: 0px;
   margin-bottom: 5px;
  }

  .input-icon1 {
    font-size: 24px; /* Mărimea icoanelor */
    margin-right: 10px; /* Spațiere între icoană și câmpul de intrare */
  }

  .input1 {
    width: 180px; /* Lățimea câmpurilor de intrare */
    height: 30px; /* Înălțimea câmpurilor de intrare */
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
  }

/* container2 contine input-icon2 si input2*/
  .input-container2 {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2px;
  }
  
  .input-icon2 {
    font-size: 24px; /* Mărimea icoanelor */
    margin-right: 10px; /* Spațiere între icoană și câmpul de intrare */
  }
  
  
  .input2 {
    width: 180px; /* Lățimea câmpurilor de intrare */
    height: 30px; /* Înălțimea câmpurilor de intrare */
    border: none;
    border-radius: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  
  /* Stilizarea butonului "Log In" */
  .centered-button {
    background: #ffA500; /* Fundal portocaliu pentru buton */
    border: none;
    border-radius: 10px;
    color: #fff; /* Culoare text albă */
    width: 100px; /* Lățimea butonului */
    height: 30px; /* Înălțimea butonului */
    cursor: pointer;
  }
  
  .centered-button:hover {
    background: #ff8c00; /* Culoare portocalie mai închisă la survol */
  } 
