.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vh;
    text-align: center;
}

.imagini-icons {
    display: block;
    margin-bottom: 0;
    width: 50vh;
}

.login {
    display: block;
}

.icon-userP {
    display: block;
}

.icon-cuibP {
    display: block;
}

.UserIcon {
    width: 60px;
}

.CuibPasari {
    width: 48px;
    float: right;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 50vh;
    text-align: center;
    border: none;
    border-radius: 5vh;
    margin-top: 0;
    background: linear-gradient(to bottom, rgb(248, 154, 13), #ffffff);
}

body {
    background: linear-gradient(to bottom, #add8e6, #fff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    background: #ffA500;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 5px;
}

button:hover {
    background: #ff8c00;
}

.input-label {
    font-size: 18px;
    border-radius: 10px;
    background: #ffA500;
    padding: 5px 10px;
    color: #fff;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.input-container1 {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

.input-icon1 {
    font-size: 24px;
    margin-right: 10px;
}

.input1 {
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
}

.input-container2 {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2px;
}

.input-icon2 {
    font-size: 24px;
    margin-right: 10px;
}

.input2 {
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.centered-button {
    background: #ffA500;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.centered-button:hover {
    background: #ff8c00;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.input-icon {
    margin-right: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #545252;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.login {
    background-color: #f0f0f0;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.input-icon {
    margin-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    background: #ffA500;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #ff8c00;
}

.orange-icon {
    color: #ffA500;
}

.input-label {
    font-size: 18px;
    border-radius: 10px;
    background: #ffA500;
    padding: 5px 10px;
